<header class="bg-dark">
  <nav class="container px-1 py-1">
    <div class="d-flex align-items-center justify-content-between">
      <div class="text-white font-weight-bold h4">
        <img
          src="/assets/img/logo.png"
          alt="logo"
          class="rounded-md cursor-pointer d-block"
          style="width: 3rem; height: 3rem;"
        />
      </div>
      <div>
        <ul class="d-flex align-items-center list-unstyled mb-0">
          <li class="mx-4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a
              routerLink="/admin/products"
              >Products</a
            >
          </li>
          <li  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a

              routerLink="/admin/categories"
              >categories</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

